In [ ]:
# 1 print hello.
print("hello")

hello

In [ ]:
# 2 arithmetical operations addition and division
a = int(input("Enter 1st number: "))
b = int(input("Enter 2nd number: "))
add = a+b
div = a/b
print("Addition:",add)
print("Division:",div)

Enter 1st number: 1
Enter 2nd number: 2
addition: 3
Division: 0.5

In [ ]:
# 3 area of a triangle
base = int(input("Enter base of the triangle:"))
height = int(input("Enter height of the triange:"))
area = (base * height) / 2
print("Area of the triange:", area)

Enter base of the triangle:10
Enter height of the triange:20
Area of the triange: 100.0

In [ ]:
# 4 swap two variables
a = 10
b = 20
a , b = b , a
print("The number in A:",a)
print("The number in B:",b)

The number in A: 20
The number in B: 10

In [ ]:
# 5 generate a random number
import random
print(random.randint(1,2000))

1207

In [ ]:
# 6 convert kilometers to miles
km = int(input("Enter KM: "))
miles = km * 0.62137119
print("The miles is:", miles)

Enter KM: 10
The miles is: 6.2137119

In [ ]:
# 7 convert Celsius to Fahrenheit
c = int(input("Enter Celcius: "))
f = (9/5) * c + 32
print("Farenheit:",f)

Enter Celcius: 0
Farenheit: 32.0

In [ ]:
#8 program to display calendar
import calendar
print(calendar.month(2002, 7))

     July 2002
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [ ]:
# 9 program to solve quadratic equation
x = float(input("Enter X: "))
y = float(input("Enter Y: "))
c = float(input("Enter c: "))
z = (3 * (x**2)) + (2 * y) + c
print("The quadratic equation value is:",z)

Enter X: 1
Enter Y: 2
Enter c: 3
The quadratic equation value is: 10.0

In [ ]:
# 10 swap two variables without temp variable
a = 10
b = 20
b = a - b
a = a - b
b = b + a
print("A:", a)
print("B:", b)

A: 20
B: 10

In [ ]:
# 11 Check if a Number is Positive, Negative or Zero
num = int(input("Enter a number: "))
if num > 0:
  print(num,"is positive")
elif num == 0:
  print(num,"is Zero")
else:
  print(num,"is negative")

Enter a number: 0
0 is Zero

In [ ]:
# 12 Check if a Number is Odd or Even
num = int(input("Enter a number: "))
if (num % 2 == 0):
  print(num,"is even")
else:
  print(num,"is odd")

Enter a number: 20
20 is even

In [ ]:
# 13 Program to Check Leap Year
year = int(input("Enter a year: "))
if (year % 4 == 0):
  print(year,"is a leap year")
elif (year % 100 == 0) and (year % 400 == 0):
  print(year,"is a leap year")
else:
  print(year,"is not a leap year")

Enter a year: 1988
1988 is a leap year

In [ ]:
# 14 Check Prime Number
num = int(input("Enter a number: "))
if (num % 2 != 0):
  print(num,"is prime")
else:
  print(num,"is not prime")

Enter a number: 21
21 is prime

In [1]:
# 15 Print all Prime Numbers in an Interval of 1-100
for i in range(1, 10, 2):
  print(i)
for i in range(11, 100, 2):
  if (i % 5 != 0) and (i % 7 != 0):
    print(i)

1
3
5
7
9
11
13
17
19
23
27
29
31
33
37
39
41
43
47
51
53
57
59
61
67
69
71
73
79
81
83
87
89
93
97
99

In [ ]:
# 16 Factorial of a Number
num = int(input("Enter a Number: "))
fact = 1
while (num > 0):
  fact = fact * num
  num = num - 1
print(fact)

Enter a Number: 5
120

In [ ]:
# 17 Display the multiplication Table
num = int(input("Enter a number: "))
j = 1
for i in range (num, num*11, num):
  print(num,"X",j,"=",i)
  j = j + 1

Enter a number: 6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

In [ ]:
# 18 the Fibonacci sequence
first = fibo = 0
second = num = 1
print(str(first)+"\n"+str(second)+'\n'+str(num))
while (fibo < 100):
  fibo = num + second
  second = num
  num = fibo
  print(fibo)

0
1
1
2
3
5
8
13
21
34
55
89
144

In [ ]:
# 19 Check Armstrong Number
num = int(input("Enter a number: "))
arm = 0
div = num
length = len(str(num))
while (div > 0):
  rem = int(div % 10)
  arm =  int(arm + rem ** length)
  div = int(div / 10)
if (num == arm):
  print(num,"is a armstrong number")
else:
  print(num,"is not a armstrong number")

Enter a number: 370
370 is a armstrong number

In [ ]:
# 20 Find Armstrong Number in an Interval
low_limit = int(input("Enter lower limit: "))
up_limit = int(input("Enter upper limit: "))
for i in range (low_limit, up_limit+1):
  div = i
  temp = i
  length =len(str(temp))
  arm = 0
  while (div > 0):
    rem = int(div % 10)
    arm =  int(arm + rem ** length)
    div = int(div / 10)
  if (arm == temp):
    print(arm)

Enter lower limit: 100
Enter upper limit: 2000
153
370
371
407
1634

In [ ]:
# 21 Sum of Natural Numbers
num = int(input("Enter a natural number: "))
if (num > 0):
  sum = (num * (num + 1)) / 2
print(int(sum))

Enter a natural number: 10
55

In [ ]:
# 22 Program to Find LCM
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
a = num1       # 12
b = num2       # 18
while b != 0:
    a, b = b, a % b # a =18 , b = 0
lcm = (num1 * num2) // a   # (18 * 12) // 18
print("The LCM of", num1, "and", num2, "is", lcm)

Enter the first number: 12
Enter the second number: 18
The LCM of 12 and 18 is 36

In [ ]:
# 23 Program to Find HCF
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
min_num = min(num1, num2)
hcf = 1
for i in range(1, min_num + 1):
    if num1 % i == 0 and num2 % i == 0:
        hcf = i
print("The HCF of", num1, "and", num2, "is", hcf)

Enter the first number: 24
Enter the second number: 36
The HCF of 24 and 36 is 12

In [ ]:
# 24 Convert Decimal to Binary, Octal and Hexadecimal
decimal = int(input("Enter a decimal number: "))
binary = bin(decimal)[2:]
octal = oct(decimal)[2:]
hexadecimal = hex(decimal)[2:]
print("Binary:", binary)
print("Octal:", octal)
print("Hexadecimal:", hexadecimal)

Enter a decimal number: 8
Binary: 1000
Octal: 10
Hexadecimal: 8

In [ ]:
# 25 Find ASCII value of a character
char = input("Enter a character: ")
print("The ASCII value of", char, "is", ord(char))

Enter a character: a
The ASCII value of a is 97

In [ ]:
# 26 Simple Calculator with 4 basic mathematical operations
num1 = int(input("Enter number 1: "))
num2 = int(input("Enter number 2: "))
operation = input("Enter operation (+,-,*,/,%): ")
if (operation == "+"):
  print(num1,"+",num2,"=",(num1+num2))
elif (operation == "-"):
  print(num1,"-",num2,"=",(num1-num2))
elif (operation == "*"):
  print(num1,"x",num2,"=",(num1*num2))
elif (operation == "/"):
  print(num1,"/",num2,"=",(num1/num2))
elif (operation == "%"):
  print(num1,"%",num2,"=",(num1%num2))

Enter number 1: 100
Enter number 2: 200
Enter operation (+,-,*,/,%): /
100 / 200 = 0.5